<div *ngIf="model" class="TailwindPOS_ucLettersPad">
    <div class="ucLettersPad" [ngStyle]="setMyStyle()" [ngClass]="class" name="ucLettersPad">
        <wm-textbox id="txtValue" [model]="model.txtValue" class="txtValue" tabindex="13"></wm-textbox>
        <wm-button id="cb_Number1" [model]="model.cb_Number1" class="cb_Number1" tabindex="6"></wm-button>
        <wm-button id="cb_Number2" [model]="model.cb_Number2" class="cb_Number2" tabindex="5"></wm-button>
        <wm-button id="cb_Number3" [model]="model.cb_Number3" class="cb_Number3" tabindex="4"></wm-button>
        <wm-button id="cb_Number4" [model]="model.cb_Number4" class="cb_Number4" tabindex="9"></wm-button>
        <wm-button id="cb_Number5" [model]="model.cb_Number5" class="cb_Number5" tabindex="8"></wm-button>
        <wm-button id="cb_Number6" [model]="model.cb_Number6" class="cb_Number6" tabindex="7"></wm-button>
        <wm-button id="cb_Number7" [model]="model.cb_Number7" class="cb_Number7" tabindex="12"></wm-button>
        <wm-button id="cb_Number8" [model]="model.cb_Number8" class="cb_Number8" tabindex="11"></wm-button>
        <wm-button id="cb_Number9" [model]="model.cb_Number9" class="cb_Number9" tabindex="10"></wm-button>
        <wm-button id="cb_Number0" [model]="model.cb_Number0" class="cb_Number0" tabindex="2"></wm-button>
        <wm-button id="cb_Period" [model]="model.cb_Period" class="cb_Period" tabindex="1"></wm-button>
        <wm-button id="cbMinus" [model]="model.cbMinus" class="cbMinus" tabindex="43"></wm-button>
        <wm-button id="cbUnderscore" [model]="model.cbUnderscore" class="cbUnderscore" tabindex="44"></wm-button>
        <wm-button id="cbAt" [model]="model.cbAt" class="cbAt" tabindex="42"></wm-button>
        <wm-button id="cbAllCaps" [model]="model.cbAllCaps" class="cbAllCaps" tabindex="45"></wm-button>
        <wm-button id="cbLetterA" [model]="model.cbLetterA" class="cbLetterA" tabindex="16"></wm-button>
        <wm-button id="cbLetterB" [model]="model.cbLetterB" class="cbLetterB" tabindex="15"></wm-button>
        <wm-button id="cbLetterC" [model]="model.cbLetterC" class="cbLetterC" tabindex="14"></wm-button>
        <wm-button id="cbLetterD" [model]="model.cbLetterD" class="cbLetterD" tabindex="19"></wm-button>
        <wm-button id="cbLetterE" [model]="model.cbLetterE" class="cbLetterE" tabindex="18"></wm-button>
        <wm-button id="cbLetterF" [model]="model.cbLetterF" class="cbLetterF" tabindex="17"></wm-button>
        <wm-button id="cbLetterG" [model]="model.cbLetterG" class="cbLetterG" tabindex="22"></wm-button>
        <wm-button id="cbLetterH" [model]="model.cbLetterH" class="cbLetterH" tabindex="21"></wm-button>
        <wm-button id="cbLetterI" [model]="model.cbLetterI" class="cbLetterI" tabindex="20"></wm-button>
        <wm-button id="cbLetterJ" [model]="model.cbLetterJ" class="cbLetterJ" tabindex="25"></wm-button>
        <wm-button id="cbLetterK" [model]="model.cbLetterK" class="cbLetterK" tabindex="24"></wm-button>
        <wm-button id="cbLetterL" [model]="model.cbLetterL" class="cbLetterL" tabindex="23"></wm-button>
        <wm-button id="cbLetterM" [model]="model.cbLetterM" class="cbLetterM" tabindex="28"></wm-button>
        <wm-button id="cbLetterN" [model]="model.cbLetterN" class="cbLetterN" tabindex="27"></wm-button>
        <wm-button id="cbLetterO" [model]="model.cbLetterO" class="cbLetterO" tabindex="26"></wm-button>
        <wm-button id="cbLetterP" [model]="model.cbLetterP" class="cbLetterP" tabindex="31"></wm-button>
        <wm-button id="cbLetterQ" [model]="model.cbLetterQ" class="cbLetterQ" tabindex="30"></wm-button>
        <wm-button id="cbLetterR" [model]="model.cbLetterR" class="cbLetterR" tabindex="29"></wm-button>
        <wm-button id="cbLetterS" [model]="model.cbLetterS" class="cbLetterS" tabindex="34"></wm-button>
        <wm-button id="cbLetterT" [model]="model.cbLetterT" class="cbLetterT" tabindex="33"></wm-button>
        <wm-button id="cbLetterU" [model]="model.cbLetterU" class="cbLetterU" tabindex="32"></wm-button>
        <wm-button id="cbLetterV" [model]="model.cbLetterV" class="cbLetterV" tabindex="37"></wm-button>
        <wm-button id="cbLetterW" [model]="model.cbLetterW" class="cbLetterW" tabindex="36"></wm-button>
        <wm-button id="cbLetterX" [model]="model.cbLetterX" class="cbLetterX" tabindex="35"></wm-button>
        <wm-button id="cbLetterY" [model]="model.cbLetterY" class="cbLetterY" tabindex="39"></wm-button>
        <wm-button id="cbLetterZ" [model]="model.cbLetterZ" class="cbLetterZ" tabindex="38"></wm-button>
        <wm-button id="cbSpace" [model]="model.cbSpace" class="cbSpace" tabindex="40"></wm-button>
        <wm-button id="cbDelete" [model]="model.cbDelete" class="cbDelete" tabindex="41"></wm-button>
        <wm-button id="cb_Enter" [model]="model.cb_Enter" class="cb_Enter" tabindex="3"></wm-button>
    </div>
</div>